.app-footer {
  // margin-block-start: $medium-space;
  color: $clr0;
  .footer-container {
    padding: 0 em($mobile-padding);
    background-color: $clr3;
    flex-direction: column;
    justify-content: center;
    .group-title {
      font-size: 1.2em;
      margin-block: em(24px) em(12px);
    }
    .nav-link {
      margin-block-end: em($min-space);
      &:hover {
        text-decoration: underline;
      }
    }

    .contact {
      max-width: em($footer-height);
      // text-decoration: none;
      p {
        margin-block-end: em($medium-space);
      }
      .links-container {
        display: flex;
        margin-block-start: em($medium-space);
        gap: em($small-space);
      }
    }

    .logo {
      width: 180px;
    }
  }

  .lower-footer {
    padding: 12px em($mobile-padding);
    display: flex;
    border-top: 1px rgba($color: #000000, $alpha: 0.5) solid;
    width: 100%;
    background-color: $second-color;
    color: $clr3;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;

    .links-container {
      display: flex;
      gap: em($small-space);
    }
  }

  // bigger than 620px
  @include mq(mobile-breakpoint) {
    .footer-container {
      padding: 0 em($narrow-padding);
      .group-title {
        margin: em($min-space) 0 em(52px) 0;
      }
    }
    .lower-footer {
      // padding: em($xxLarge-space);
      justify-content: space-between;
    }
  }

  // bigger than 960px
  @include mq(narrow-breakpoint) {
    .footer-container {
      padding: 0 em($normal-padding);
      justify-content: space-between;
      flex-direction: row;
    }
  }

  // bigger than 1200px
  @include mq(normal-breakpoint) {
    font-size: 1em;
    .footer-container {
      padding: 0 em($wide-padding);
      .hamburger {
        display: none;
      }
      .center {
        display: inline;
      }
    }
  }
}
