.app-footer {
  padding: em($medium-space);
  height: em($footer-height);
  background-color: $clr1;
  color: $clr0;

  .footer-container {
    justify-content: space-around;
    .group-title {
      margin-block-end: em($small-space);
    }
    .nav-link {
      margin-block-end: em($min-space);
      &:hover {
        text-decoration: underline;
      }
    }

    .contact {
      max-width: em($footer-height);
      .links-container {
        display: flex;
        margin-block-start: em($medium-space);
        gap: em($small-space);
      }
    }
  }
}
