.color-palette {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin-block-start: 12px;

  .color {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin-inline-end: 8px;
    position: relative;
    &:hover {
      cursor: pointer;
    }

    &.selected {
      &::before {
        content: '';
        position: absolute;
        bottom: -35%;
        left: 50%; /* Position the center of the line under the middle of the word */
        width: 100%; /* Start with no width */
        height: 2px;
        background-color: #000; /* Set the color of the line */
        transition: width 0.3s ease-in-out; /* Add an animation to the width property */
        transform: translateX(
          -50%
        ); /* Move the center of the line back to the left */
      }
    }
  }
}
