.shopping-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  &.hide {
    position: relative;
  }
}
.shopping-cart {
  &.hide {
    transform: translateX(100%);
  }
  background-color: $second-color;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  border-left: $clr2 2px solid;
  transform: translateX(0);
  transition: transform 0.4s ease-out;
  .btn-close {
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }
  .title {
    border-bottom: 1px black solid;
    padding: em($large-space) em($small-space);
    // margin-block-start: 12px;
  }
  .items-list {
    overflow-y: scroll;
    max-height: 500px;

    .cart-item-preview {
      // padding: em($large-space) em($small-space);
      button {
        padding: em(6px);
        height: max-content;
      }
      display: flex;
      padding: em($large-space);
      margin: 0 12px;
      justify-content: start;
      align-items: flex-start;
      .box {
        p {
          margin-block-end: em($medium-space);
        }

        .quantity {
          display: flex;
          align-items: baseline;
          gap: em($min-space);
        }
      }
      border-bottom: 1px solid $clr-app-border;
    }
  }
  span {
    font-weight: 700;
  }
  p {
    color: gray;
  }
  .cart-actions {
    // background-color: $clr2;
    flex-direction: column;

    .total {
      display: flex;
      justify-content: space-around;
      padding: 30px 12px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    button {
      width: 250px;
      margin: 12px auto;
    }
  }
}
.shopping-cart-page {
  .header {
    border-bottom: 1px solid $clr-app-border;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo {
      margin: 12px auto;
    }
    .process-bar {
      margin: 24px auto;
      display: flex;
      .summery.active {
        font-weight: 700;
      }
    }
  }

  .cart-summery {
    .box {
      gap: 24px;
      display: flex;
      flex-direction: row;
      margin: 12px 0;
    }
    margin-block-end: 24px;
  }
  .cart-item-preview {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    justify-content: space-between;
    padding: em($large-space) 0;
    margin: 0 12px;
    button {
      padding: em(6px);
      height: max-content;
    }
    .box {
      margin-inline-start: 8px;
      flex-direction: column;

      .attributes {
        display: flex;
        gap: 30px;
        p {
          margin-block: 12px;
        }
        color: #666;
      }
      .quantity {
        display: flex;
        align-items: baseline;
        gap: em($min-space);
      }
      .actions {
        margin-inline-start: 24px;
        gap: 24px;
        display: flex;
        color: #0e6dfd;
      }
    }
    border-bottom: 1px solid $clr-app-border;
  }
  .cart-actions {
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
    column-gap: 100px;
    margin-block: 24px;
    .total {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .sum-products {
        display: flex;
        justify-content: space-between;
      }
      .sum-shipping {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sum-total {
        display: flex;
        justify-content: space-between;
      }
    }

    .promo-code {
      h2 {
        margin-block-end: 24px;
      }
      .code {
        width: 100%;
        button {
          height: 36px;
        }
        input {
          margin-inline-start: 24px;
          width: 70%;
          height: 36px;
        }
      }
      display: flex;
      flex-direction: column;
      height: 42px;
    }

    // bigger than 620px
    @include mq(mobile-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
