.shopping-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: $clr2;
  height: 100vw;
  border-left: $clr2 2px solid;

  .btn-close {
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }
  .title {
    border-bottom: 1px black solid;
    padding: em($large-space) em($small-space);
    // margin-block-start: 12px;
  }
  .items-list {
    overflow-y: scroll;
    max-height: 500px;

    .cart-item-preview {
      // padding: em($large-space) em($small-space);
      button {
        padding: em(6px);
        height: max-content;
      }
      display: flex;
      padding: em($large-space);
      margin: 0 12px;
      justify-content: start;
      align-items: flex-start;
      .box {
        p {
          margin-block-end: em($medium-space);
        }

        .quantity {
          display: flex;
          align-items: baseline;
          gap: em($min-space);
        }
      }
      border-bottom: 1px solid $clr-app-border;
    }
  }

  span {
    font-weight: 700;
  }

  p {
    color: gray;
  }
  .cart-actions {
    flex-direction: column;

    .total {
      display: flex;
      justify-content: space-around;
      padding: 30px 12px;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    button {
      width: 250px;
      margin: 12px auto;
    }
  }
}

.shopping-cart-page {
  .header {
    border-bottom: 1px solid $clr-app-border;
  }
  .cart-item-preview {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    justify-content: space-between;
    padding: em($large-space);
    margin: 0 12px;
    button {
      padding: em(6px);
      height: max-content;
    }
    .box {
      margin-inline-start: 8px;
      flex-direction: column;

      .attributes {
        display: flex;
        gap: 30px;
        p {
          margin-block: 12px;
        }
        color: #666;
      }
      .quantity {
        display: flex;
        align-items: baseline;
        gap: em($min-space);
        .actions {
          margin-inline-start: 24px;
          gap: 24px;
          display: flex;
          color: #0e6dfd;
        }
      }
    }
    border-bottom: 1px solid $clr-app-border;
  }
}
