.main-container {
  display: grid;
  grid-template-columns: em($mobile-padding) 1fr em($mobile-padding);

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  // bigger than 620px
  @include mq(mobile-breakpoint) {
    grid-template-columns: em($narrow-padding) 1fr em($narrow-padding);
  }

  // bigger than 960px
  @include mq(narrow-breakpoint) {
    grid-template-columns: em($normal-padding) 1fr em($normal-padding);

    // minmax(em($normal-padding), 1fr)
    // minmax(auto, $narrow-breakpoint)
    // minmax(em($normal-padding), 1fr);
  }

  // bigger than 1200px
  @include mq(normal-breakpoint) {
    grid-template-columns: em($wide-padding) 1fr em($wide-padding);
  }
}
