@font-face {
  src: url('../../fonts/Montserrat-Regular.ttf');
  font-family: Montserrat;
}
@font-face {
  src: url('../../fonts/Mukta-Regular.ttf');
  font-family: Mukta;
}
@font-face {
  src: url('../../fonts/Cinzel-Regular.ttf');
  font-family: Cinzel;
}
@font-face {
  src: url('../../fonts/Roboto-Regular.ttf');
  font-family: Roboto;
}
