.main-dynamic-content {
  display: grid;
  // row-gap: em($medium-space);
  grid-template-areas:
    'teaser teaser teaser'
    // 'sub sub sub'
    // 'filter  filter filter'
    'products  products products';
  .teaser-container {
    grid-area: teaser;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dynamic-products-header;
    height: em($dynamic-products-header-height);
    width: 100%;
    color: $clr2;
    // border-radius: em($medium-space);
    background-color: rgba(
      0,
      0,
      0,
      0.2
    ); /* Adjust the alpha value (0.5) to control the darkness */
    background-blend-mode: multiply; /* Helps darken the background */
    background-size: cover;
    background-position: 20%;
    .category-title {
      font-size: em(46px);
      z-index: 5;
      text-shadow: 1px 1px 2px $clr3, 0 0 1em $clr7, 0 0 0.2em $clr5;
      color: $clr2;
      margin-block-end: em($small-space);
    }

    .category-description {
      text-align: center;
      max-width: 40%;
      line-height: 1.4;
    }

    .product-img-1 {
      width: $product-teaser-img;
      top: 45%;
      left: 70%;
      position: absolute;
      z-index: 5;
    }
    .product-img-2 {
      width: $product-teaser-img;
      top: -15%;
      right: 65%;
      position: absolute;
    }
  }

  .product-list-container {
    background: $filter-background;
    grid-area: products;
    width: content;
    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
