.home-page-container {
  min-height: max-content;
  font-family: Roboto;
  .images-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .cover-img {
      object-fit: cover;
      width: 100%;
    }
    .box {
      font-family: Montserrat;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($color: $clr1, $alpha: 0.7);
      border: 2px $clr2 solid;
      color: $clr2;
      padding: em(100px);
      height: em(300px);
      max-width: 50vw;
      h2 {
        font-family: Montserrat;
      }
    }
  }

  .teaser-container {
    width: 100vw;
    background: $filter-background;
    justify-items: center;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: first baseline;
    row-gap: 50px;
    grid-template-areas:
      'left title title title right'
      'left teaser-1 img teaser-2 right'
      'left teaser-3  img teaser-4 right'
      'left footer  footer footer right';

    p {
      line-height: 1.4;
    }

    .title {
      grid-area: title;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-block-start: em($xLarge-space);
    }
    img {
      width: 200px;
    }

    h2 {
      margin-block-end: em($small-space);
    }

    .left-space {
      grid-area: left;
      width: 20vw;
    }
    .right-space {
      grid-area: right;
      width: 20vw;
    }
    .center-img {
      align-self: center;
      grid-area: img;
      min-width: 300px;
      max-width: 500px;
    }

    .teaser-1 {
      grid-area: teaser-1;
    }
    .teaser-2 {
      grid-area: teaser-2;
    }
    .teaser-3 {
      grid-area: teaser-3;
    }
    .teaser-4 {
      grid-area: teaser-4;
    }
  }

  .designed-nav {
    .box {
      font-family: Roboto;
      font-size: 1.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 200px;
      border-right: 1px solid black;

      &:hover {
        background-color: $dynamic-products-header;
        color: white;
        transition: 0.6s;
        cursor: pointer;

        img {
          filter: brightness(1000%);
          -webkit-filter: brightness(1000%);
        }
      }

      img {
        width: 44px;
        margin-block-end: 32px;
        transition: filter 0.6s;
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    img {
      width: 44px;
      margin-block-end: 32px;
    }
    .feature {
      text-align: center;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .recommends-container {
    margin-block-start: 40px;
    justify-content: space-evenly;
    text-align: center;
    .recommends {
      display: flex;
      justify-self: center;
    }
    .product-container {
      flex-grow: 1;
    }
  }
}
