.product-details {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  font-weight: 400;
  padding: 12px;
  // color: gray;
  // border: 1px black solid;
  // .header {
  //   padding: 32px 0;
  //   // grid-column: 1/-1;
  //   font-size: 1.2rem;
  //   display: flex;
  //   justify-content: space-between;
  // }
  // span {
  //   font-weight: 700;
  //   margin: 6px 0;
  // }
  .content {
    // align-items: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: start;
    text-align: start;
    gap: 24px;
    .product-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: start;
      .product-name {
        font-size: 2rem;
        color: black;
        font-weight: normal;
        margin-block-end: 12px;
      }
      .description {
        line-height: 1.7;
      }
      p {
        margin: 6px 0;
        .price {
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
      .quantity {
        width: 32px;
      }
      .details {
        justify-content: space-around;
      }
    }
    .img-container {
      width: 100%;
      max-width: 560px;
      // max-height: 500px;
      background-size: cover;
      background-position: center;
      img {
        object-fit: cover;
        width: 100%;
        // border: 1px black solid;
      }
    }
  }
  .act {
    width: 40px;
  }

  // bigger than 960px
  @include mq(narrow-breakpoint) {
    .product-details {
      padding: 0;
    }
    .content {
      grid-template-columns: 50% 50%;
      // align-items: top;
      width: 100%;
      margin-block-start: 80px;
    }
  }
}
