.product-preview {
  padding: 6px;
  margin: 24px 4px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $clr2;
  border-radius: em($large-space);
  // height: ;
  // padding: 32px;
  // border: 1px black solid;
  // height: 50vh;
  // margin: 24px;

  .img-container {
    width: 100%;
    max-width: 300px;
    // height: 30vh;
    // background-size: cover;
    background-position: center;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  img {
    // margin-inline-start: 12px;
    // width: 300px;
  }
  &:hover {
    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.1);
    scale: 1.05;
    transition: 0.5s;
  }
  .box {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      margin-block-start: 12px;
    }
    .price {
      font-weight: 800;
    }
    p {
      margin-top: 6px;
    }

    .actions {
      display: flex;
      justify-content: center;
      width: 100%;
      button {
        // display: flex;
        // align-items: center;
        // margin-block-start: 24px;
        // background-color: inherit;
        // padding: 12px 24px;
        // border: 1px solid black;
        font-weight: 550;
        width: 100%;
        img {
          width: 24px;
          margin-inline-end: 12px;
        }
        &:hover {
          background-color: black;
          color: white;
          transition: 0.3s;
          img {
            filter: invert(1);
            transform: translateX(6px);
            transition: 0.3s;
          }
        }
      }
      .btn-buy {
        margin-block-start: 12px;
        width: 100%;
        display: flex;
        // place-items: center;
      }
    }
  }

  .edit {
    border: 1px black solid;
    position: absolute;
    top: 0;
    padding: 8px;
    background-color: red;
    border-radius: 12px;
    left: 0;
  }

  @include mq(mobile-breakpoint) {
    .img-container {
      // width: 300px;
      // height: 300px;
    }
    .box {
      // align-items: center;
      align-items: flex-start;
      padding: 12px;
    }
  }
}
