.product-details {
  display: grid;
  color: gray;
  grid-template-rows: 1fr 6fr;
  grid-auto-flow: column;
  font-weight: 400;
  // border: 1px black solid;
  .header {
    padding: 32px 0;
    // grid-column: 1/-1;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  span {
    font-weight: 700;
    margin: 6px 0;
  }
  .content {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
    .product-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: start;
      .product-name {
        font-size: 2rem;
        color: black;
        margin-block-end: 12px;
      }
      .description {
        line-height: 1.7;
      }

      .sizes {
        width: 150px;
        height: 44px;
        border-radius: 12px;
        padding: 8px 16px;
      }

      p {
        margin: 6px 0;
        .price {
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
      .quantity {
        width: 32px;
      }
    }
    .img-container {
      width: 100%;
      max-width: 500px;
      // max-height: 500px;
      background-size: cover;
      background-position: center;
      img {
        object-fit: cover;
        width: 100%;
        border: 1px black solid;
      }
    }
  }
  .act {
    width: 40px;
  }
  .designed-btn {
    width: 200px;
    display: flex;
    align-items: center;
    margin-block-start: 24px;
    background-color: inherit;
    padding: 12px 24px;
    border: 1px solid black;
    font-weight: 700;
    img {
      width: 24px;
    }
    &:hover {
      background-color: black;
      color: white;
      transition: 0.3s;
      img {
        filter: invert(1);
        transform: translateX(6px);
        transition: 0.3s;
      }
    }
  }

  // bigger than 960px
  @include mq(narrow-breakpoint) {
    .content {
      grid-template-columns: 50% 50%;
      justify-items: end;
      width: 100%;
    }
  }
}
